
<div *ngIf="questions">
  <ion-menu side="end" menuId="chonCauHoi" contentId="main" (ionWillClose)='questionInMenu = []'>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Danh Mục Câu Hỏi</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <h4 *ngIf="questionInMenu.length === 0; else rendered" style="text-align: center;">ĐANG QUÉT...</h4>
      <ng-template #rendered>
        <ion-list>
          <ion-item *ngFor="let question of questionInMenu; let i= index" (click)="slideTo(i)">
            <ion-label>
              <h3 style="font-size: 18px;
              font-weight: 500;">Câu số {{i+1}} <span class="status"
                  [ngStyle]='{"background": question.checked === "ĐÃ LÀM"? "#3880ff": "#dc4545"}'>{{question.checked}}</span>
              </h3>
              <p style="font-size: 12px;color: #666666">{{question.q}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ng-template>
    </ion-content>
  </ion-menu>

  <div>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button (click)="dismiss()">
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title *ngIf="timeView!=='00:00'">{{timeView}}</ion-title>
        <ion-title *ngIf="xemCauSai && !cate">CÂU ĐÃ LÀM SAI</ion-title>
        <ion-title *ngIf="xemCauSai && cate==='all'">HỌC TẤT CẢ</ion-title>
        <ion-title *ngIf="xemCauSai && cate==='signs'">HỌC BIỂN BÁO</ion-title>
        <ion-title *ngIf="xemCauSai && cate==='shapes'">HỌC SA HÌNH</ion-title>
        <ion-title *ngIf="xemCauSai && cate==='liet'">CÂU ĐIỂM LIỆT</ion-title>
        <ion-title *ngIf="byDay">Ngày {{day.date}} - Đề {{day.q}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="openMenu()">
            <ion-icon slot="icon-only" name="list"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content id="main" fullscreen class="ion-padding">
      <ion-slides #slide (ionSlideWillChange)='slideChange()'>

        <ion-slide *ngFor="let question of questions; let i= index" >
          <div class="slide">
            <h4>Câu {{i+1}}/{{questions.length}}</h4>
            <ion-text color="dark">
              <h5>{{question.question}}</h5>
            </ion-text>
            <img *ngIf="question.img" src="{{question.img}}" />
            <ion-list>
              <ion-item text-wrap lines="none" style="border-bottom: #d7e8ff solid 1px;" *ngFor="let answer of question.answers">
                <p>{{answer.answer}}</p>
                <ion-checkbox disabled="{{(!question.result || question.result===3)? false: true}}" color="primary" slot="start" [(ngModel)]="answer.checked"></ion-checkbox>
              </ion-item>
            </ion-list>
            <div class="results" *ngIf="xemCauSai && index >= 0">
              <ion-col>
                <div class="ion-text-center" *ngIf="question.result === 1">
                  <img src="assets/correct.png" width="10%" alt="">
                  <h3 class="right"> ĐÚNG</h3>
                  <h5 class="corr">ĐÁP ÁN ĐÚNG: <span *ngFor="let x of getAnswersOfType(1)">{{x}}</span></h5>
                  <h5 class="choo">ĐÁP ÁN BẠN CHỌN: <span *ngFor="let x of getAnswersOfType(2)">{{x}}</span></h5>
                </div>
                <div class="ion-text-center" *ngIf="question.result === 2">
                  <img src="assets/cancel.png" width="10%" alt="">
                  <h3 class="wrong"> SAI</h3>
                  <h5 class="corr">ĐÁP ÁN ĐÚNG: <span *ngFor="let x of getAnswersOfType(1)">{{x}}</span></h5>
                  <h5 class="choo">ĐÁP ÁN BẠN CHỌN: <span *ngFor="let x of getAnswersOfType(2)">{{x}}</span></h5>
                </div>
          
                <div class="ion-text-center" *ngIf="question.result === 3">
                  <img src="assets/error.png" width="10%" alt="">
                  <h3> CHƯA LÀM</h3>
                  <h5 class="corr">ĐÁP ÁN ĐÚNG: <span *ngFor="let x of getAnswersOfType(1)">{{x}}</span></h5>
                </div>
              </ion-col>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-content>

  </div>

</div>

<ion-footer *ngIf="questions">
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-button (click)="slide.slidePrev()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="xemCauSai; else nopbai" (click)="checkAnswers()">XEM ĐÁP ÁN</ion-title>
    <ng-template #nopbai>
      <ion-title (click)="submit()">NỘP BÀI</ion-title>
    </ng-template>
    <ion-buttons slot="end">
      <ion-button (click)="slide.slideNext()">
        <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>