<ion-header>
  <ion-toolbar class="ion-no-border">
    <!-- <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons> -->
    <ion-title>ÔN THI GPLX - {{type | uppercase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="type !== ''">

  <ion-grid>
    <ion-row>
      <ion-col class="pos-1" (click)="presentThiThu()">
        <div class="cate">
          <h4>
            <ion-icon name="document-text"></ion-icon>
          </h4>
          <ion-label>THI THỬ</ion-label>
        </div>
      </ion-col>
      <ion-col class="pos-2">
        <div class="cate">
          <h4>
            <ion-icon name="close-circle"></ion-icon>
          </h4>
          <ion-label>CÂU SAI</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="pos-3">
        <div class="cate">
          <h4>
            <ion-icon name="flash"></ion-icon>
          </h4>
          <ion-label>MẸO THI</ion-label>
        </div>
      </ion-col>
      <ion-col class="pos-4" (click)="presentLichSuThi()">
        <div class="cate">
          <h4>
            <ion-icon name="time"></ion-icon>
          </h4>
          <ion-label>LỊCH SỬ THI</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style='border: #3880ff59 dashed 2px;background: #1da1f221;
    margin: 20px;
    border-radius: 15px;'>
      <div class="roadmap">
        <h4>QUÁ TRÌNH HỌC</h4>
        <ion-item lines='none'>
          <ion-icon style="margin-right: 5px;" slot="start" name="checkmark-circle"></ion-icon>
          <ion-label>50% ĐẠT</ion-label>
        </ion-item>
      </div>
    </ion-row>
    <ion-row *ngIf="list" class="roadmap">
      <ion-list>
        <ion-item lines='none'>
          <ion-avatar slot="start">
            <img src="assets/all.png">
          </ion-avatar>
          <ion-label>
            <h3>HỌC TẤT CẢ <span style="float: right;">0/{{list.all.length}}</span></h3>
            <p>
              <ion-progress-bar [value]="0.3"></ion-progress-bar>
            </p>
          </ion-label>
        </ion-item>
        <ion-item lines='none'>
          <ion-avatar slot="start">
            <img src="assets/traffic-sign.png">
          </ion-avatar>
          <ion-label>
            <h3>BIỂN BÁO ĐƯỜNG BỘ <span style="float: right;">0/{{list.signs.length}}</span></h3>
            <p>
              <ion-progress-bar value="0.5"></ion-progress-bar>
            </p>
          </ion-label>
        </ion-item>
        <ion-item lines='none'>
          <ion-avatar slot="start">
            <img src="assets/roundabout.png">
          </ion-avatar>
          <ion-label>
            <h3>SA HÌNH <span style="float: right;">0/{{list.shape.length}}</span></h3>
            <p>
              <ion-progress-bar value="0.8"></ion-progress-bar>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-grid>
</ion-content>