<ion-header>
  <ion-toolbar class="ion-no-border">
    <!-- <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons> -->
    <ion-title>ÔN THI GPLX - {{type | uppercase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="type !== ''">

  <ion-grid>
    <ion-row>
      <ion-col class="pos-1" (click)="presentThiThu()">
        <div class="cate">
          <img src="assets/icon/icon-02.png">
          <h4>THI THỬ</h4>
        </div>
      </ion-col>
      <ion-col class="pos-2" (click)="presentXemCauSai()">
        <div class="cate">
          <img src="assets/icon/icon-03.png">
          <h4>CÂU SAI</h4>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="pos-3" (click)="presentMeoThi()">
        <div class="cate" >
          <img src="assets/icon/icon-04.png">
          <h4>MẸO THI</h4>
        </div>
      </ion-col>
      <ion-col class="pos-4" (click)="presentLichSuThi()">
        <div class="cate">
          <img src="assets/icon/icon-05.png">
          <h4>LỊCH SỬ THI</h4>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style='background: #1da1f24a;
    margin: 20px;
    border-radius: 15px;' (click)="openSmartLearn()">
      <div class="roadmap">
        <h4 style="text-align: center;">HỌC THÔNG MINH</h4>
        <ion-item lines='none'>
          <ion-avatar slot="start">
            <img src="assets/icon/icon-07.png">
          </ion-avatar>
          <ion-label style="margin-top: 0;">
            <h4 class="percent">{{percent}} % ĐẠT</h4>
            <p>Tỉ lệ đạt của bạn cần > 80%</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-row>
    <ion-row *ngIf="list" class="roadmap">
      <ion-list>
        <ion-item lines='none' (click)="presentXemCauSai('all')">
          <ion-avatar slot="start">
            <img src="assets/all.png">
          </ion-avatar>
          <ion-label>
            <h3>HỌC TẤT CẢ <span style="float: right;">{{hisCate.all.length}}/{{list.all}}</span></h3>
            <p>
              <ion-progress-bar [value]="hisCate.all.length/list.all"></ion-progress-bar>
            </p>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="type === 'b2' || type === 'b1'" lines='none' (click)="presentXemCauSai('liet')">
          <ion-avatar slot="start">
            <img src="assets/liet.png">
          </ion-avatar>
          <ion-label>
            <h3>60 CÂU ĐIỂM LIỆT <span style="float: right;">{{hisCate.liet.length}}/{{list.liet}}</span></h3>
            <p>
              <ion-progress-bar [value]="hisCate.liet.length/list.liet"></ion-progress-bar>
            </p>
          </ion-label>
        </ion-item>
        <ion-item lines='none' (click)="presentXemCauSai('signs')">
          <ion-avatar slot="start">
            <img src="assets/icon/icon-06.png">
          </ion-avatar>
          <ion-label>
            <h3>BIỂN BÁO ĐƯỜNG BỘ <span style="float: right;">{{hisCate.signs.length}}/{{list.signs}}</span></h3>
            <p>
              <ion-progress-bar [value]="hisCate.signs.length/list.signs"></ion-progress-bar>
            </p>
          </ion-label>
        </ion-item>
        <ion-item lines='none' (click)="presentXemCauSai('shapes')">
          <ion-avatar slot="start">
            <img src="assets/icon/icon-09.png">
          </ion-avatar>
          <ion-label>
            <h3>SA HÌNH <span style="float: right;">{{hisCate.shapes.length}}/{{list.shapes}}</span></h3>
            <p>
              <ion-progress-bar [value]="hisCate.shapes.length/list.shapes"></ion-progress-bar>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-grid>
</ion-content>