<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>THI THỬ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="inline-row" (click)="randomCauHoi()">
      <div class="item-margin">
        <div class="item-border">
          <div><ion-icon style="font-size: 35px;" name="shuffle"></ion-icon></div>
        </div>
      </div>
    </ion-row>
    <ion-row *ngFor="let item of listQuestions; let i = index" class="inline-row" (click)="presentCauHoi(item.id, item.time)">
      <div class="item-margin">
        <div class="item-border">
          <div>Đề {{i+1}}</div>
        </div>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>