ion-toolbar {
  ion-title.md {
    text-align: center;
    padding-right: 55px;
    padding-left: 0px;
  }
}
ion-grid {
  margin: 10px;
  padding: 0;
  ion-row.inline-row {
    width: 33.333333333%;
    display: inline-block;
    div.item-margin {
      margin: 10px;
      div.item-border {
        display: block;
        padding-top: 100%;
        border-radius: 10%;
        background: teal;
        position: relative;
        div {
          position: absolute;
          text-align: center;
          font-size: 21px;
          color: white;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
