<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>THI THỬ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-grid>
    <ion-row class="inline-row" (click)="randomCauHoi()">
      <div class="item-margin">
        <div class="item-border">
          <div><ion-icon style="font-size: 35px;" name="shuffle"></ion-icon></div>
        </div>
      </div>
    </ion-row>
    <ion-row *ngFor="let item of listQuestions; let i = index" class="inline-row" (click)="presentCauHoi(item.id, item.time)">
      <div class="item-margin">
        <div class="item-border">
          <div>Đề {{item.num}}</div>
        </div>
      </div>
    </ion-row>
  </ion-grid> -->
  <ion-item lines='none' class="inline-row" >
    <ion-avatar slot="start">
      <img [src]="'assets/random.png'">
    </ion-avatar>
    <ion-label>
      <h3>Ngẫu Nhiên</h3>
      <p>
        Chọn 1 đề bất kì
      </p>
    </ion-label>
    <ion-note  (click)="randomCauHoi()"slot="end">LÀM BÀI</ion-note>
  </ion-item>

  <ion-item lines='none' *ngFor="let item of listQuestions; let i = index" class="inline-row" >
    <ion-avatar slot="start">
      <img [src]="'assets/file.png'">
    </ion-avatar>
    <ion-label>
      <h3>Đề Số {{item.num}}</h3>
      <p>
        {{item.q_length}} câu - {{item.time/60}} phút
      </p>
    </ion-label>
    <ion-note (click)="presentCauHoi(item.id, item.time)" slot="end">LÀM BÀI</ion-note>
  </ion-item>
</ion-content>