<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>CÀI ĐẶT</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <img class="cover" src="assets/cover.png" alt="">
  <ion-list style="margin-top: 20px;">
    <ion-item lines='none' (click)="router.navigate(['tabs/tab1'])" >
      <ion-avatar slot="start">
        <img src="assets/icon/icon-16.png">
      </ion-avatar>
      <ion-label><h1>Trang chủ</h1></ion-label>
    </ion-item>
    <ion-item lines='none' (click)="setType()">
      <ion-avatar slot="start">
        <img src="assets/icon/icon-17.png">
      </ion-avatar>
      <ion-label><h1>bằng lái</h1></ion-label>
      <ion-note slot="end">{{type | uppercase}}</ion-note>
    </ion-item>
    <ion-item lines='none'>
      <ion-avatar slot="start">
        <img src="assets/icon/icon-15.png">
      </ion-avatar>
      <ion-label><h1>Đánh giá</h1></ion-label>
    </ion-item>
    <ion-item lines='none' (click)="share()">
      <ion-avatar slot="start">
        <img src="assets/icon/icon-19.png">
      </ion-avatar>
      <ion-label><h1>Chia sẻ</h1></ion-label>
    </ion-item>
    <ion-item lines='none' (click)="openMail()">
      <ion-avatar slot="start">
        <img src="assets/icon/icon-18.png">
      </ion-avatar>
      <ion-label><h1>Trợ giúp & Hỏi đáp</h1></ion-label>
    </ion-item>
    <!-- <ion-item lines='none' style="margin-top: 50px;
    border-top: #e8e8e8ab solid 1px;
    border-bottom: unset;">
      <ion-label><p>Hiển thị màu kết quả</p></ion-label>
      <ion-toggle slot="end" name="blueberry" checked></ion-toggle>
    </ion-item>
    <ion-item lines='none'>
      <ion-label><p>Hiển thị gợi ý và đáp án đúng</p></ion-label>
      <ion-toggle slot="end" name="blueberry"></ion-toggle>
    </ion-item> -->
  </ion-list>
  <img style="margin-top: 20px;" src="assets/xuphat.png" alt="">
  <p style="text-align: right">Nguồn ảnh: Tri Thức Trẻ &nbsp; &nbsp;</p>
</ion-content>  