<ion-header>
  <ion-toolbar>
    <ion-title>caidat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider>
      <ion-label color="primary">Trang chủ</ion-label>
      <ion-icon name="home" size="large" slot="start"></ion-icon>
    </ion-item-divider>
    <ion-item-divider>
      <ion-label>Bằng lái</ion-label>
      <ion-icon name="reader" size="large" slot="start"></ion-icon>
    </ion-item-divider>
    <ion-item lines="none">
      <ion-label>Trợ giúp và Hỏi đáp</ion-label>
      <ion-icon name="help" size="large" slot="start"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Đánh giá ứng dụng</ion-label>
      <ion-icon name="star" size="large" slot="start"></ion-icon>
    </ion-item>
    <ion-item-divider>
      <ion-label>Chia sẻ với mọi người</ion-label>
      <ion-icon name="share-social" size="large" slot="start"></ion-icon>
    </ion-item-divider>
    <ion-item lines="none">
      <ion-label>Hiển thị màu kết quả ngay khi làm</ion-label>
      <ion-toggle slot="end" color="success" checked></ion-toggle>
    </ion-item>
    <ion-item-divider>
      <ion-label>Hiển thị gợi ý và đáp án đúng khi ôn tập</ion-label>
      <ion-toggle slot="end" color="success" checked></ion-toggle>
    </ion-item-divider>
    <ion-item lines="none">
      <ion-label>Hẹn giờ</ion-label>
      <ion-icon name="alarm" size="large" slot="start"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>