<ion-header>
  <ion-toolbar color="primary">
    <ion-title>HỌC THÔNG MINH</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="refresh()">
        <ion-icon slot="icon-only" name="reload"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item-group class="group1">
    <ion-item lines="none" class="item1">
      <ion-textarea auto-grow="true" placeholder="Ghi chú:"></ion-textarea>
    </ion-item>
    <ion-item lines="none" class="item2">
      <ion-label>
        <h3>Bộ đề gồm</h3>
        <p>30 ĐỀ</p>
      </ion-label>
      <ion-icon name="document-text" slot="start"></ion-icon>
    </ion-item>
  </ion-item-group>
  <ion-grid>
    <ion-row *ngFor="let item of counter(30); let i = index" class="inline-row">
      <div class="item-margin">
        <div class="item-border">
          <div>{{i+1}}</div>
        </div>
      </div>
    </ion-row>
  </ion-grid> -->

  <p>
    Mỗi ngày, bạn sẽ làm các đề được hệ thống lựa chọn. Từ đó, qua từng ngày, hệ thống sẽ tính toán khả năng đỗ của bạn và đưa ra
    những giải pháp cải thiện tốt nhất.
  </p>

  <ion-grid>
    <ion-row *ngFor="let item of historyByDay; let i = index" >
      <ion-col size="3" class="thongke">
        <h5>
          {{(item.corr/item.q_leg)*100}}%
        </h5>
      </ion-col>
      <ion-col size="9">
        <h3>NGÀY {{i+1}} 
        </h3>
        <p>
          <ion-progress-bar [value]="item.corr/item.q_leg"></ion-progress-bar>
        </p>
        <h4 *ngFor='let q of item.questions; let ii = index' [ngClass]='{"done" : q.correct > 0}' (click)="openBaiLam(q.id, q.correct, i+1, ii+1)">ĐỀ SỐ {{ii + 1}} <span style="float: right;">{{q.correct}}/{{q.q_length}}</span></h4>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>