<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>KẾT QUẢ THI</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="question">

  <div class="results">
    <ion-col>
      <div class="ion-text-center" *ngIf="question.result === 1">
        <img src="assets/correct.png" width="10%" alt="">
        <h3 class="right"><span style="color: #000;">Câu {{question.num}}/{{question.totalQuestions}}</span>: ĐÚNG</h3>
        <h5 class="corr">ĐÁP ÁN ĐÚNG: <span *ngFor="let x of getAnswersOfType(1)">{{x}}</span></h5>
        <h5 class="choo">ĐÁP ÁN BẠN CHỌN: <span *ngFor="let x of getAnswersOfType(2)">{{x}}</span></h5>
      </div>
      <div class="ion-text-center" *ngIf="question.result === 2">
        <img src="assets/cancel.png" width="10%" alt="">
        <h3 class="wrong"><span style="color: #000;">Câu {{question.num}}/{{question.totalQuestions}}</span>: SAI</h3>
        <h5 class="corr">ĐÁP ÁN ĐÚNG: <span *ngFor="let x of getAnswersOfType(1)">{{x}}</span></h5>
        <h5 class="choo">ĐÁP ÁN BẠN CHỌN: <span *ngFor="let x of getAnswersOfType(2)">{{x}}</span></h5>
      </div>

      <div class="ion-text-center" *ngIf="question.result === 3">
        <img src="assets/error.png" width="10%" alt="">
        <h3><span style="color: #000;">Câu {{question.num}}/{{question.totalQuestions}}</span>: CHƯA LÀM</h3>
        <h5 class="corr">ĐÁP ÁN ĐÚNG: <span *ngFor="let x of getAnswersOfType(1)">{{x}}</span></h5>
      </div>
    </ion-col>
  </div>

  <!-- <ion-item>
    <ion-label>

      <div *ngIf="question.result === 1">
        <h3>Đúng</h3>
        <div>
          <span>Đáp án đúng:</span><span *ngFor="let x of getAnswersOfType(1)">{{x}} </span>
        </div>
        <div>
          <span>Đáp án bạn chọn:</span><span *ngFor="let x of getAnswersOfType(2)">{{x}} </span>
        </div>
        <ion-icon name="checkmark-outline" slot="start"></ion-icon>
      </div>

      <div *ngIf="question.result === 2">
        <h3>Sai</h3>
        <div>
          <span>Đáp án đúng:</span><span *ngFor="let x of getAnswersOfType(1)">{{x}} </span>
        </div>
        <div>
          <span>Đáp án bạn chọn:</span><span *ngFor="let x of getAnswersOfType(2)">{{x}} </span>
        </div>
        <ion-icon name="close-outline" slot="start"></ion-icon>
      </div>

      <div *ngIf="question.result === 3">
        <h3>Bạn chưa chọn đáp án </h3>
        <ion-icon name="alert-outline" slot="start"></ion-icon>
      </div>

    </ion-label>
  </ion-item> -->
  <div class="q">
    {{question.question}}
  </div>
  <img *ngIf="question.img" src="{{question.img}}" />
  <ion-list>
    <ion-item text-wrap lines="none" *ngFor="let answer of question.answers">
      <p>{{answer.answer}}</p>
      <ion-checkbox disabled color="primary" slot="start" [checked]="answer.checked? answer.checked: false"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>