<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>LỊCH SỬ THI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="listQuestions">
  <!-- <ion-list> -->
    <ion-item lines='none' *ngFor="let question of listQuestions" [ngClass]="question.pass? 'pass': 'fail'"  (click)="presentKetQuaThi(question.id)">
      <ion-avatar slot="start">
        <img [src]="question.pass? 'assets/tick.png':'assets/fail.png'">
      </ion-avatar>
      <ion-label>
        <h3>Đề Số {{question.num}} <span class="time">{{question.ctime*1000 | date:'hh:mm - dd/MM/yyyy'}}</span> </h3>
        <p>
          <span>{{question.nPass}}<img src="assets/correct.png" width="16px" alt=""></span>
          <span>{{question.nFail}}<img src="assets/cancel.png" width="16px" alt=""></span>
          <span>{{question.questions.length - question.nPass - question.nFail}}<img src="assets/error.png" width="16px" alt=""></span>
        </p>
      </ion-label>
    </ion-item>
  <!-- </ion-list> -->
  <!-- <ion-item-group>
    <ion-item *ngFor="let question of listQuestions">
      <ion-label (click)="presentKetQuaThi(question.id)">
        <div>
          <h4>Đề Số {{question.num}}</h4>
          <span>{{question.ctime*1000 | date:'hh:mm dd/MM/yyyy'}}</span>
        </div>
        <ion-row>
          <ion-col *ngIf="question.pass; else fail">
            PASS
          </ion-col>
          <ng-template #fail>
            RỚT
          </ng-template>
          <ion-col>
            <img src="assets/correct.png" width="16px" alt="">
            <span>{{question.nPass}}</span>
          </ion-col>
          <ion-col><img src="assets/cancel.png" width="16px" alt="">
            <span>{{question.nFail}}</span></ion-col>
          <ion-col>
            <img src="assets/error.png" width="16px" alt="">
            <span>{{question.questions.length - question.nPass - question.nFail}}</span>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-item-group> -->
</ion-content>

<ng-template *ngIf="listQuestions === null">
  <ion-content class="noty">
    <img src="assets/null.png" width="30%" alt="" srcset="">
    <br>
    <h1>Bạn chưa làm đề nào cả. <br>Hãy thi thử ngay một đề nhé.</h1>

  </ion-content>

</ng-template>